*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #ccc;
    font-family: sans-serif;

}
.parent{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 20px 20px;
}

.parent .cont{
    display: grid;
    grid-template-columns: 50px auto;
    gap: 20px 20px;
}
.parent .cont .text{
    padding-top: 5px;
} 
.parent .cont .text > h2{
    font-size: 19px;
} 
.parent .cont .text > p{
    font-size: 13px;
    color: rgb(184, 177, 177);
    margin: 0px ;

} 
.parent .cont > img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


.parent h1{
    margin: 20px 0px;
    font-size: 20px;
}
.parent p{
    margin: 20px 25px 20px 0px;
    color: rgb(184, 177, 177);
    font-size: 14px;
    line-height: 1.6;

}


.parent .one{
    background-color: #733fc8;
    color: white;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    padding: 25px;
    background-image: url('../images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position: 82% 1%;
    background-size: 21%;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.parent .two{
    background-color: #49556b;
    color: white;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    padding: 25px;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.parent .three{
    background-color: #ffffff;
    color: #6a6875;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 25px;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.parent .four{
    background-color: #18202d;
    color: white;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    padding: 25px;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.parent .five{
    background-color: #ffffff;
    color: #6a6875;
    grid-column: 4 / 5;
    grid-row: 1 / 3;
    padding: 25px;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

@media only screen and (max-width: 425px) {
    .parent{
        margin: 20px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(5,auto);
        gap: 20px 20px;
    }

    .parent .one{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .parent .two{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .parent .three{
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    .parent .four{
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }
    .parent .five{
        grid-column: 1 / 2;
        grid-row: 5 / 6;
    }

}
